<h1>Articles</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <a href="<%= article_path(article) %>">
      Book Title:
      <br>
      <%= article.title %>
    </li>
    <li>
      Book Description:
      <br>
      <%= article.body %>
    </li>
    <br>
  <% end %>
</ul>